:root {
  --primary-color: #357b70;
  --secondary-color: #05676e;
  --text-color: #fff;
  --animation-primary-color: #edc655;
  --animation-secondary-color: #fcffad;
  --animation-tertiary-color: #f76414;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }
  .profile {
    max-width: 700px;
    margin: 0 auto;
  }
  .logo{
    max-width: 150px;
    display: inline-block;
  }
  .navigation-list {
    list-style-type: none;
  }
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  .page-header__item {
    flex: 0 1 200px;
  }
  .navigation-list {
    list-style-type: none;
  }
  .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  .page-header__item {
    flex: 0 1 200px;
  }
  .profile__text {
    flex: 1 1 100px;
}
.page-footer {
    clear: both;
    display: flex;
}
.article {
    display: block;
  }

  .article__graphic--inline {
    display: inline-block;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
  }
  /* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */

 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  }
  .grid__item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 18px;
    }
  }
  @keyframes color-change {
    0% {
      fill: var(--animation-primary-color);
    }
    50% {
      fill: var(--animation-secondary-color);
    }
    100% {
      fill: var(--animation-tertiary-color);
    }
  }
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  /* Cloud-move */
  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
  /* Short way of animation */
  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(500px, 50px);
    }
    to {
      transform: translate(100px, 50px);
    }
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
button,
.button
 {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8
}
